<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vresorts.tripplan" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Million Maps - Trojan Tracker</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
    </feature>
    <icon src="www/img/MMicon.png" />
     <platform name="android">
         <icon src="www/img/MMicon.png" density="mdpi" />
    </platform>
    <!--splash src="www/img/startup_screen.png"/-->
    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="320" height="480"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="640" height="960"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="640" height="1136"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="768" height="1024"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="1024" height="768"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="1536" height="2048"/>
        <splash src="www/img/MMaps-App-Startup-Screen.png" width="2048" height="1536"/>
    </platform>
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="www/img/MMaps-App-Startup-Screen.png"/>
    </platform>

</widget>
